<%= render partial: 'layouts/menu' %>

<h3>Advance ordering records</h3>

<table border="1">
	<tr>
		<th>ID</th>
		<th>Outlet</th>
		<th>Business</th>
		<th>Event Type</th>
		<th>Additional data</th>
		<th>Created at</th>
		<th>Updated at</th>
	</tr>
	<% @ao.each do |ao| %>
		<tr>
			<td><%= ao.id %></td>
			<td><%= ao.outlet_id %></td>
			<td><%= ao.business_id %></td>
			<td><%= ao.event_type %></td>
			<td><%= ao.additional_data %></td>
			<td><%= ao.created_at %></td>
			<td><%= ao.updated_at %></td>
		</tr>
	<% end %>
</table>
<br><br>

<%= will_paginate @ao %>
