<h3>Last 50 records</h3>

<table border="1">
	<tr>
		<th>ID</th>
		<th>Outlet</th>
		<th>Business</th>
		<th>Token</th>
		<th>Type</th>
		<th>Created at</th>
		<th>Updated at</th>
	</tr>
	<% @ed.each do |ed| %>
		<tr>
			<td><%= ed.id %></td>
			<td><%= ed.outlet_id %></td>
			<td><%= ed.business_id %></td>
			<td><%= ed.token %></td>
			<td><%= ed.type %></td>
			<td><%= ed.created_at %></td>
			<td><%= ed.updated_at %></td>
		</tr>
	<% end %>
</table>
<br><br>

<%= will_paginate @posts %>
